dec.yuv
rec.yuv
str.bin
/build/
/bin/DecoderAnalyserAppStatic
/bin/EncoderAppStatic
/bin/SEIRemovalAppStatic
/bin/SubpicMergeAppStatic
/bin/BitstreamExtractorAppStatic
/bin/DecoderAppStatic
/bin/parcatStatic
/bin/StreamMergeAppStatic
/bin/umake
/lib/
core
deploy
*.sdf
*.suo
.vs/
.vscode/
*.blg
*.bbl
*.pyc
/out/
/doc/_minted-software-manual/
